*{
    /* border: 1px solid lightsalmon; */
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Cutive', serif;
}
/* Universal
font-family: 'Oregano', cursive;
font-family: 'Cutive', serif;
font-family: 'Engagement', cursive;
font-family: 'Ranga', cursive;
font-family: 'Playfair Display', serif;*/

input{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

textarea{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

select{
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.centered{
    text-align:center;
}

.sub-page-title{
    font-family: 'Oregano', serif;
    font-size: 2em;
    text-align: center;
    margin-top: 0
}
/* Index Page */
.page-title{
    font-family:'Oregano',serif;
    font-weight:normal;
    text-align: center;
    font-size: 3em;
    margin: 0.25em;
}

.title-card{
    line-height: 0.75em;
    border: 2px solid black;
    background-color: beige;
    width: 400px;
    transition-duration:1s;
    padding: 10px 5px 5px 5px;
    margin-bottom: 10px;
    background-image: url('https://i.imgur.com/KCRgsYM.png')
}

.title-card h3{
    margin: 2px 0;
    padding: 2px 10px;
    border-bottom: 2px solid rgb(78, 66, 43);
}

.title-card a{
    height: fit-content;
}

.title-card form{
    padding: 0;
    width: 100px;
}

.info-bar{
    display:flex;
    flex-direction: column;
    padding: 0;
}

.info-bar-box{
    width: fit-content;
    font-size: 12px;
    padding: 2px;
}

.options-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.option-button{
    border: 1px solid black;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}

.view-button{
    background-color: rgb(144, 144, 192);
}

.edit-button{
    background-color: rgb(111, 143, 111);
}

.delete-button{
    background-color: rgb(153, 116, 116);
}

.group-name-wrapper{
    display:flex;
    justify-content: center;
}

.group-name{
    padding: 5px;
    height: 76px;
    font-size: 40px;
    background-image:url('https://i.imgur.com/LuhkTUK.png');
    background-size: contain;
    border: none;
    line-height: 60px;
    color:white;
    text-shadow: -1px -1px 1px black;
    font-family: 'Playfair Display', serif;
}

.left-end{
    height: 76px;
    width: 60px;
    background-image: url('https://i.imgur.com/ypPdtPK.png');
    background-size: contain;
    border: none;

}

.right-end{
    height: 76px;
    width: 60px;
    background-image: url('https://i.imgur.com/lRokoVd.png');
    background-size: contain;
    border: none;

}

.inner-group-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: rgb(48, 46, 46);
    border: 15px solid grey;
    border-radius: 20px;
    border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;

}

.outer-group-box{
    border: 15px solid black;
    border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;
    margin-bottom: 10px;
    padding: 10px;

}

.url-display{
    width: 350px;
    height: 25px;
    resize: none;
    border: 1px solid black;
    border-radius: 10px;
}

nav{
    display:flex;
    justify-content: space-evenly;
    border: 5px solid gray;
    border-radius: 25px;
    padding: 10px;
}

.big-button{
    border: 3px solid black;
    background-color: darkred;
    color:white;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    width: 200px;
    text-align:center;
    font-size: 25px;
    font-family: 'Oregano',serif;    
    padding: 5px;
}

.mini-nav{
    display:flex;
    justify-content: space-evenly;
}

/* Edit and New Pages  */

.form-box-wrapper{
    display:flex;
    justify-content: center;
}

.video-wrapper{
    margin-right: 10px;
    border: 20px solid gray;
    border-radius: 20px;
    border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;
    height: 370px;
}

.form-box{
    width: 500px;
    border: 20px solid gray;
    border-radius: 20px;
    border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;
}

.form-box h1{
    text-align: center;
    border-bottom: 3px solid brown;
}


.form-box p{
    margin: 5px 0;
    font-size:15px;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}

.button-wrapper{
    text-align: center;
}

/* Tag Search */

.tag-box{
    background-color: lightseagreen;
    color:white;
    margin: 10px;
}

.tag-selected, .tag-box:focus {
    background-color: red;
}

.tag-cloud{
     background-color: rgb(48, 46, 46);
     border: 15px solid black;
     border-radius: 20px;
     border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;
     display:flex;
     flex-wrap: wrap;
     justify-content: center;

}

/* Show Page */

.show-box{
    width: fit-content;
    margin: 0 auto;
    border: 15px solid black;
    border-radius: 20px;
    border-image: url('https://i.imgur.com/5Fsv9ry.png') 33 stretch;
}

.show-box p{
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}

.show-box h1{
    text-align:center;
    border-bottom: 3px solid black;
}

.url-display{
    width: 100%;
}




